<html>
  <head>
  	<title>Caesar Cipher</title>
  </head>
  <style>
      body {
        background: #d9b3ff;
    }
    </style>
  <body>
    <h1 style = "text-align: center">Caesar Cipher</h1>
    <h5 style = "text-align: center">made by: Neelotpal Nauriyal</h4>
    <form style = "text-align: center">
  		<input type='text' name='text' />
  		<input type='submit' value='Encrypt'/>
      <input type='text' name='key' />
      <input type='submit' value='Key'/>
  	</form>
  	<p>
    Ecrypted Message : <%=encrypted_message%>
    </p> 
  </body>
</html>